html,
body {
  margin: 0;
  padding: 0;
  background: #d3d3d3;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
}

.layout {
  display: grid;
  margin-top: 3%;
}

.layout-col6 {
  grid-template-columns: repeat(6, 1fr);
}

.layout-col4 {  
  grid-template-columns: repeat(4, 1fr);
}

.layout-col3 {
  grid-template-columns: repeat(3, 1fr);
}
.layout-col1 {
  grid-template-columns: repeat(1, 1fr);
}

.block {
  background-color: aqua;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 14em;
  height: 14em;
}
